
@if (!hasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(selectedAddress))
{
    <button class="btn btn-primary" @onclick="ConnectWallet">Connect Wallet</button>
}
else if (_web3Options.ChainId != chainId)
{
    <p>Wrong network selected. Please change to @_web3Options.Network</p>
}
else
{
    <p>Create minting transaction below</p>
    <p>Selected Address: @selectedAddress</p>
    <p>Minted: @accountMinted / @_web3Options.MaxMintCount</p>
    <EditForm Model="@mintModel" OnValidSubmit="@Mint">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label class="form-label input-sm">Amount to Mint</label>
            <span class="input-group-btn" style="width:0px;"></span>
            <InputNumber class="form-control input-sm" @bind-Value="mintModel.MintCount" min="1" max="@(_web3Options.MaxMintCount - accountMinted)" step="1" />
            <span class="input-group-btn" style="width:0px;"></span>
            <button class="form-control input-sm btn btn-primary" type="submit" disabled=@(accountMinted == _web3Options.MaxMintCount)>Mint</button>
        </div>
    </EditForm>
}