@page "/mint"

@using BBBeastUI.Pages.Minting.Components
@using NFT.Contract.Query

@inject Web3Options _web3Options

<div class="container-fluid">
    <div class="d-flex flex-column align-items-center mx-2">
        <div class="d-flex flex-row w-100">
            <div class="d-flex align-items-center justify-content-start w-100">
                <div class="d-flex">
                    <p class="pe-2">Contract:</p>
                    <a href="@($"{Links.ETHERSCAN}/address/{_web3Options.ContractAddress}")" target="_blank">@_web3Options.ContractAddress?.Truncate(6, 4)</a>
                </div>
            </div>

            <div class="d-flex justify-content-end w-25">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    @{
                        var account = walletInteraction?.selectedAddress?.Truncate(6, 4);
                    }
                    @if (string.IsNullOrEmpty(account) && walletInteraction != null)
                    {
                        <button class="btn btn-primary" @onclick="walletInteraction.ConnectWallet">Connect Wallet</button>
                    }
                    else
                    {
                        if(walletInteraction?.accountMinted == null)
                        {
                            <HxPlaceholder Columns=1 />
                        }
                        else
                        {
                            <div>@walletInteraction?.accountMinted.ToString()</div>
                        }
                        <div class="px-2">/ @_web3Options.MaxMintCount BBB</div>
                        <div id="addressJazzicon" class="px-2"></div>
                        <a href="@($"{Links.ETHERSCAN}/address/{walletInteraction?.selectedAddress}")" target="_blank">@account</a>
                    }
                </div>
            </div>
        </div>

        <h1>TOTAL BBBEASTS MINTED</h1>
        <div class="d-flex justify-content-center w-25 mb-5">            
            @if (_TotalMinted == null)
            {
                <HxPlaceholder Columns=1 Size=PlaceholderSize.Regular CssClass="me-2" />
            }
            else
            {
                <h1>@_TotalMinted.ToString()</h1>
            }
            <h1 class="ps-2">/ 10000</h1>
        </div>
        <WalletInteraction @ref="walletInteraction" _contractState=contractState />
    </div>
</div>
